{% layout 'components/templates/default' %}

{% block content %}
  <form class="form">
    <div class="form__title">
      <h1 class="heading-2">RVSP</h1>
    </div>
    <div class="form__subtitle">
      <h2 class="heading-4">We really hope you're able to celebrate with us!</h2>
    </div>
      <div class="form__section">
        {% for person in invite.people %}
          {% capture field_name %}{{person.id}}-attend{% endcapture %}
          {% capture field_yes %}{{person.id}}-yes{% endcapture %}
          {% capture field_no %}{{person.id}}-no{% endcapture %}

          <fieldset class="form__fieldset">
            <div class="form__fieldset-title">
              <h3 class="heading-3">{{ person['Name'] }}'s RSVP</h3>
            </div>
            <div class="form__field">
              {% render "components/atoms/checkbox", name: field_name, id: field_yes, label: "Gladly accept" %}
            </div>
            <div class="form__field">
              {% render "components/atoms/checkbox", name: field_name, id: field_no, label: "Regretfully Decline" %}
            </div>
          </fieldset>
        {% endfor %}
      </div>

      {% render "components/atoms/button", text: "Continue" %}

      {% render "components/atoms/section-break" %}

      <div class="form__subtitle">
        <h2 class="heading-2">
          {% if invite['Invite Type'] == 'Day' %}
            Your meal choice
          {% else %}
            Your dietary requirements
          {% endif %}
        </h2>
      </div>

      <div class="form__section">

        {% for person in invite.people %}

          <fieldset class="form__fieldset">

            {% if invite['Invite Type'] == 'Day' %}
              {% capture field_name %}{{person.id}}-meal{% endcapture %}
              {% capture field_yes %}{{person.id}}-yes{% endcapture %}
              {% capture field_no %}{{person.id}}-no{% endcapture %}

              <div class="form__fieldset-title">
                <h3 class="heading-3">{{ person['Name'] }}'s Meal</h3>
              </div>

              {% for meal in menu %}
                {% capture field_name %}{{person.id}}-meal{% endcapture %}
                {% capture field_id %}{{person.id}}-{{meal['Name']}}{% endcapture %}
                
                <div class="form__field">
                  {% render "components/atoms/checkbox", name: field_name, id: field_id, label: meal['Description'] %}
                </div>
              {% endfor %}
            {% endif %}

          </fieldset>

          <fieldset class="form__fieldset">

            {% if invite['Invite Type'] == 'Evening' %}
              <div class="form__fieldset-title">
                <h3 class="heading-3">{{ person['Name'] }}'s Dietery Requirements</h3>
              </div>
            {% endif %}

            {% capture field_name %}{{person.id}}-dietary{% endcapture %}
            {% render "components/atoms/textarea", name: field_name, label: "Please let us know if you have any dietary requirements or allergies" %}
          
          </fieldset>
        
        {% endfor %}
      
      </div>

      {% render "components/atoms/button", text: "Confirm choices" %}

  </form>

{% endblock %}