{% layout 'components/templates/default' %}

{% block content %}
  <form class="form js-rsvp-form" action="/{{ invite['Invite Code'] }}/thank-you/" data-module="rsvp">
    
    <input type="hidden" name="invite" value="{{ invite.id }}" />
    <input type="hidden" name="guests" value="{{ invite['Invitees'] | join: ',' }}" />
  
    <div class="form__title">
      <h1 class="heading-2">RVSP</h1>
    </div>
    <div class="form__subtitle">
      <h2 class="heading-4">We really hope you're able to celebrate with us!</h2>
    </div>
      <div class="form__section">
        {% for person in invite.people %}
          {% capture field_name %}{{person.id}}-attend{% endcapture %}
          {% capture field_yes %}{{person.id}}-yes{% endcapture %}
          {% capture field_no %}{{person.id}}-no{% endcapture %}
          {% capture field_confirmed_yes %}{% if person['Attending'] == "yes" %}true{% endif %}{% endcapture %}
          {% capture field_confirmed_no %}{% if person['Attending'] == "no" %}true{% endif %}{% endcapture %}

          {% if person['Plus1'] == true %}
          <fieldset class="form__fieldset js-guest-select is-hidden">
              <div class="form__fieldset-title">
                <h3 class="heading-3">Your guest</h3>
              </div>
              <div class="form__field">
                {% render "components/atoms/checkbox", 
                  name: field_name, 
                  id: field_yes, 
                  label: "I will be bringing a guest",
                  checked: field_confirmed_yes
                %}
              </div>
              <div class="form__field">
                {% render "components/atoms/checkbox", 
                  name: field_name, 
                  id: field_no, 
                  label: "I won't be bringing a guest",
                  checked: field_confirmed_no 
                %}
              </div>
            </fieldset>
            {% else %}
            <fieldset class="form__fieldset js-rsvp-select">
              <div class="form__fieldset-title">
                <h3 class="heading-3">{{ person['Name'] }}'s RSVP</h3>
              </div>
              <div class="form__field">
                {% render "components/atoms/checkbox", 
                  name: field_name, 
                  id: field_yes, 
                  label: "Gladly Accept",
                  checked: field_confirmed_yes
                %}
              </div>
              <div class="form__field">
                {% render "components/atoms/checkbox", 
                  name: field_name, 
                  id: field_no, 
                  label: "Regretfully Decline",
                  checked: field_confirmed_no 
                %}
              </div>
            </fieldset>
            {% endif %}

            {% comment %} Text input for guest name only if guest is a +1 {% endcomment %}
            {% if person['Plus1'] == true %}
              <fieldset class="form__fieldset js-guest-name is-hidden">
                {% capture field_guest_name %}{{person.id}}-name{% endcapture %}
                {% capture field_guest_id %}guest-{{person.id}}{% endcapture %}
                <div class="form__fieldset-title">
                  <label class="heading-3" for="{{ field_guest_id }}">Your guest's full name</label>
                </div>
                <div class="form__field">
                  {% render "components/atoms/text-input", 
                    name: field_guest_name, 
                    id: field_guest_id,
                    class: 'js-guest-name-input'
                  %}
                  <p class="form__validation">All guests must be over 18</p>
                </div>
            </fieldset>
            {% endif %}
        {% endfor %}
      </div>

      {% render "components/atoms/button", text: "Continue", type: "button", disabled: true, class: 'js-continue' %}

      <p class="form__validation js-validation-1 is-hidden">Please select your RSVP to continue</p>
      <p class="form__validation js-validation-2 is-hidden">Please enter your guest's name to continue</p>

      <div class="is-hidden js-meal-choices">

        <div class="js-meal-choice-header">

          {% render "components/atoms/section-break" %}
          <div class="form__subtitle">
            <h2 class="heading-2">
              {% if invite['Invite Type'] == 'Day' %}
                Your meal choice
              {% else %}
                Your dietary requirements
              {% endif %}
            </h2>
          </div>

        </div>

        <div class="form__section">

          {% for person in invite.people %}

            <div class="js-meal-{{ person.id }}-attend">
              <fieldset class="form__fieldset js-meal-select">

                {% if invite['Invite Type'] == 'Day' %}
                  {% capture field_name %}{{person.id}}-meal{% endcapture %}
                  {% capture field_yes %}{{person.id}}-yes{% endcapture %}
                  {% capture field_no %}{{person.id}}-no{% endcapture %}

                  <div class="form__fieldset-title">
                    <h3 class="heading-3">{{ person['Name'] }}'s Meal</h3>
                  </div>

                  {% for meal in menu %}
                    {% capture field_name %}{{person.id}}-meal{% endcapture %}
                    {% capture field_id %}{{person.id}}-{{meal.id}}{% endcapture %}
                    {% assign menu_choice = person['Menu Choice'] %}
                    {% assign menu_id = meal['id'] %}
                    {% capture field_selected %}{% if menu_choice contains menu_id %}true{% else %}false{% endif %}{% endcapture %}
                   
                    <div class="form__field">
                      {% render "components/atoms/checkbox", 
                        name: field_name, 
                        id: field_id, 
                        label: meal['Description'],
                        checked: field_selected
                      %}
                    </div>
                  {% endfor %}
                {% endif %}

              </fieldset>

              <fieldset class="form__fieldset{% if person['Plus1'] == true %} js-guest-meal-select{% endif %}">

                {% if invite['Invite Type'] == 'Evening' %}
                  <div class="form__fieldset-title">
                    <h3 class="heading-3"><span class="js-name-inline" data-id="guest-{{ person.id }}">{{ person['Name'] }}</span>'s Dietery Requirements</h3>
                  </div>
                {% endif %}

                {% capture field_name %}{{person.id}}-dietary{% endcapture %}
                {% render 
                  "components/atoms/textarea", 
                  name: field_name, 
                  label: "Please let us know if you have any dietary requirements or allergies" 
                  value: person['Dietary Requirements'],
                %}
              
              </fieldset>
            </div>
          
          {% endfor %}
        
        </div>
  
        {% render "components/atoms/button", text: "Confirm choices" disabled: true, class: 'js-confirm' %}

        <p class="form__validation js-validation-3 is-hidden">Please select your meal choices</p>

        <div class="form__validation js-rsvp-error is-hidden">
          <h3 class="heading-4">Uh oh, something went wrong</h3>
          <p>Please try again, or <a href="/contact">contact us</a> if you still can't RSVP</p>
        </div>

      </div>
  </form>

{% endblock %}