<label class="checkbox" for="person-{{ id }}">
    <span class="checkbox__label">{{ label }}</span>
    <input type="radio" class="checkbox__input" name="{{ name }}" value="{{ id }}" id="person-{{ id }}" />
</label>

